<h1><%= @team.name %></h1><br>

<h2><%= @team.motto %></h2><br>

<% @superheroes.each do |superhero| %>
  <h2>Hero Name: <%= superhero.name %></h2><br>
  <h4>Hero Power: <%= superhero.power %></h4>
  <h4>Hero Biography: <%= superhero.biography %></h4><br>
  <% end %>
